<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @request_state.name %>
</p>

<%= link_to 'Edit', edit_request_state_path(@request_state) %> |
<%= link_to 'Back', request_states_path %>
