<header class="container-fluid top-nav" ng-include="'/assets/common/_public_top_nav_template.html'"></header>
<div class="container wrapper-container">
  <div ui-view></div>
</div>
<div class="container-fluid footer" ng-include="'/assets/common/_footer_template.html'"></div>