<div ng-controller="ListController as listCtrl">
    <h2 class="section-title">{{ sectionTitle }}</h2>

    <div ng-show="pageLoaded" class="section-content contact-container">
        <form class="form" ng-show="!isContactListEmpty() && !isAddingContact() && !isEditingContact() && !isSelectedContact()">
            <input type="text" placeholder="Busca un contacto: Ej. Jorge Hernández" ng-model="contactQuery">
        </form>

        <div ng-show="isContactListEmpty() && !isAddingContact() && !isSelectedContact()" class="message-container">
            <p class="message">Aún no cuentas con algún contacto</p>
            <div class="actions">
                <a class="action-button-purple size-medium" title="Agregar una nueva meta" ng-click="createContact()">Agregar nuevo contacto</a>
            </div>
        </div>

        <div ng-show="!isContactListEmpty() && !isAddingContact() && !isEditingContact() && !isSelectedContact()">
            <div class="contact-list">
                <div class="contact-filters">
                    <label class="checkbox-label">
                        <input type="checkbox" ng-model="filter['to_invite']" >
                        <span class="checkbox-label-span">Prospecto</span>
                    </label>
                    <label class="checkbox-label">
                        <input type="checkbox" ng-model="filter['contacted']" >
                        <span class="checkbox-label-span">Invitado</span>
                    </label>
                    <label class="checkbox-label">
                        <input type="checkbox" ng-model="filter['to_close']" >
                        <span class="checkbox-label-span">Plan visto</span>
                    </label>
                    <label class="checkbox-label">
                        <input type="checkbox" ng-model="filter['to_register']" >
                        <span class="checkbox-label-span">Por inscribir</span>
                    </label>
                    <label class="checkbox-label">
                        <input type="checkbox" ng-model="filter['registered']" >
                        <span class="checkbox-label-span">Inscrito</span>
                    </label>
                </div>
                <div class="contact-actions">
                    <a class="action-button-purple size-medium" title="Agregar un nuevo contacto" ng-click="createContact()">Agregar nuevo contacto</a>
                </div>
                <div ng-show="!filteredContactList.length">
                    No existen contactos que cumplan con esos filtros
                </div>
                <div ng-repeat="contact in (filteredContactList = (contactList | filter:filterByContactStatus | filter:contactQuery | orderBy:[sortByContactStatus, 'name']) )"  class="contact">
                    <div class="contact-profile">
                        <span us-spinner spinner-key="contact-spinner-{{contact.id}}"></span>
                        <div class="contact-image">
                            <span class="user-image">
                                <span class="icon-user" ng-if="!contact.picture"></span>
                                <div class="image-container"><img ng-src="{{ contact.picture }}" alt="{{ contact.name }}" ng-if="contact.picture"></div>
                            </span>
                            <p class="contact-name">{{ contact.name }}</p>
                        </div>
                        <div class="contact-info">
                            <p class="contact-email" ng-if="contact.email"><a href="mailto:{{ contact.email }}" title="Enviar correo">{{ contact.email }}</a></p>
                            <p class="contact-phone" ng-if="contact.phone">{{ contact.phone }}</p>
                        </div>
                        <div class="actions">
                            <span class="action-button-edit icon-edit" title="Editar Contacto" ng-click="editContact(contact)"></span>
                            <span class="action-button-delete icon-circle-with-cross" title="Eliminar Contacto" ng-click="confirmDeleteContact(contact)"></span>
                        </div>
                    </div>
                    <div class="contact-progress">
                        <h3 class="contact-status">{{ getContactStatus(contact.status).title }}</h3>
                        <div class="progress-wrapper">
                            <div class="progress">{{ ((getContactStatus(contact.status).order/5)*100) | number:0 }}%</div>
                            <div round-progress
                                 max="5"
                                 current="getContactStatus(contact.status).order"
                                 color="{{getContactStatus(contact.status).color}}"
                                 bgcolor="#eaeaea"
                                 radius="45"
                                 stroke="12"
                                 semi="false"
                                 rounded="false"
                                 clockwise="true"
                                 iterations="50"
                                 animation="easeInOutQuart"
                                 states="CONTACT_STATUS_COLORS"></div>
                        </div>
                        <button ng-if="contact.status != CONTACT_STATUS.RULED_OUT.code && contact.status != CONTACT_STATUS.REGISTERED.code" class="action-button-purple size-medium all-space" title="Cambiar estatus" ng-click="selectContact(contact)">Siguiente paso</button>
                        <button ng-if="contact.status == CONTACT_STATUS.RULED_OUT.code" class="action-button-purple size-medium all-space" title="Comenzar el proceso nuevamente" ng-click="completeStep(contact, CONTACT_STATUS.TO_INVITE.code)">Comienza nuevamente</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-form" ng-if="!isContactListEmpty() && !isAddingContact() && !isEditingContact() && isSelectedContact()">
            <span us-spinner spinner-key="contact-spinner-{{selectedContact.id}}"></span>
            <div class="contact-detail">
                <div class="contact-profile">
                    <div class="contact-image">
                            <span class="user-image">
                                <span class="icon-user" ng-if="!selectedContact.picture"></span>
                                <div class="image-container"><img ng-src="{{ selectedContact.picture }}" alt="{{ selectedContact.name }}" ng-if="selectedContact.picture"></div>
                            </span>
                        <p class="contact-name">{{ selectedContact.name }}</p>
                    </div>
                    <div class="contact-info">
                        <p class="contact-email" ng-if="selectedContact.email"><a href="mailto:{{ selectedContact.email }}" title="Enviar correo">{{ selectedContact.email }}</a></p>
                        <p class="contact-phone" ng-if="selectedContact.phone">{{ selectedContact.phone }}</p>
                    </div>
                </div>
                <div class="contact-progress">
                    <h3 class="contact-status">{{ getContactStatus(selectedContact.status).title }}</h3>
                    <div class="progress-wrapper">
                        <div class="progress">{{ ((getContactStatus(selectedContact.status).order/5)*100) | number:0 }}%</div>
                        <div round-progress
                             max="5"
                             current="getContactStatus(selectedContact.status).order"
                             color="{{getContactStatus(selectedContact.status).color}}"
                             bgcolor="#eaeaea"
                             radius="45"
                             stroke="12"
                             semi="false"
                             rounded="false"
                             clockwise="true"
                             iterations="50"
                             animation="easeInOutQuart"
                             states="CONTACT_STATUS_COLORS"></div>
                    </div>
                </div>
                <div class="contact-actions">
                    <div ng-if="selectedContact.status == CONTACT_STATUS.TO_INVITE.code">
                        <p class="step-question">¿Cómo deseas invitar a {{ selectedContact.name }}?</p>
                        <button type="button" name="inviteOptionList" class="btn btn-default dropdown" data-animation="am-flip-x" bs-dropdown="inviteOptionsDropdown">
                            <span ng-if="!selectedInvitationOption">Selecciona un metodo de contacto</span>
                            <span ng-if="selectedInvitationOption">{{ selectedInvitationOption.text }}</span>
                            <span class="caret"></span>
                        </button>

                        <div class="action" ng-if="selectedInvitationOption.code=='online'">
                            <div class="send-video-actions">
                                <p>Enviar el plan:</p>
                                <button type="button" name="planList" class="btn btn-default dropdown" data-animation="am-flip-x" bs-dropdown="planDropdown">
                                    <span ng-if="!selectedPlan">Selecciona un plan</span>
                                    <span ng-if="selectedPlan">{{ selectedPlan.title }}</span>
                                    <span class="caret"></span>
                                </button>
                                <button class="action-button-purple size-medium all-space" title="Enviar plan" ng-click="sendVideo(selectedContact)" ng-disabled="!selectedPlan" ng-class="{ 'disabled' : !selectedPlan }">Enviar y continuar el proceso</button>
                            </div>
                        </div>

                        <div class="action" ng-if="selectedInvitationOption.code=='call'">
                            <div class="send-video-actions">
                                <p class="step-question">¿Ya concretaste una cita?</p>
                                <button class="action-button-purple size-medium all-space" title="Continuar" ng-click="completeStep(selectedContact, CONTACT_STATUS.CONTACTED.code)">Sí, continuar con el proceso</button>
                                <p>o</p>
                                <button class="action-button-orange size-medium all-space" title="Enviar a seguimiento" ng-click="completeStep(selectedContact, CONTACT_STATUS.RULED_OUT.code)">Enviar a seguimiento</button>
                                <hr>
                                <div><strong>¿Necesitas guía para hacer la llamada?</strong> Escucha el siguiente audio con la guía para prospectar <a ng-click="showAudioGuide()">aquí</a></div>
                                <audio controls ng-if="isAudioGuideVisible()">
                                    <source ng-src="{{ AUDIO_GUIDES.CALL.source }}">
                                </audio>
                            </div>
                        </div>
                    </div>

                    <div ng-if="selectedContact.status == CONTACT_STATUS.CONTACTED.code">
                        <p class="step-question">¿ {{ selectedContact.name }} ya vio el plan?</p>
                        <div class="action">
                            <div class="send-video-actions">
                                <button class="action-button-purple size-medium all-space" title="Continuar" ng-click="completeStep(selectedContact, CONTACT_STATUS.TO_CLOSE.code)">Sí, continuar con el proceso</button>
                                <p>o</p>
                                <button class="action-button-orange size-medium all-space" title="Enviar a seguimiento" ng-click="completeStep(selectedContact, CONTACT_STATUS.RULED_OUT.code)">Enviar a seguimiento</button>
                            </div>
                        </div>
                    </div>

                    <div ng-if="selectedContact.status == CONTACT_STATUS.TO_CLOSE.code">
                        <p class="step-question">¿A {{ selectedContact.name }} le interesó el negocio?</p>
                        <div class="action">
                            <div class="send-video-actions">
                                <button class="action-button-purple size-medium all-space" title="Continuar" ng-click="completeStep(selectedContact, CONTACT_STATUS.TO_REGISTER.code)">Sí, continuar con el proceso</button>
                                <p>o</p>
                                <button class="action-button-orange size-medium all-space" title="Enviar a seguimiento" ng-click="completeStep(selectedContact, CONTACT_STATUS.RULED_OUT.code)">Enviar a seguimiento</button>
                            </div>
                        </div>
                    </div>

                    <div ng-if="selectedContact.status == CONTACT_STATUS.TO_REGISTER.code">
                        <p class="step-question">¿{{ selectedContact.name }} ya se inscribió?</p>
                        <div class="action">
                            <div class="send-video-actions">
                                <button class="action-button-purple size-medium all-space" title="Continuar" ng-click="completeStep(selectedContact, CONTACT_STATUS.REGISTERED.code)">Registrar prospecto</button>
                                <p>o</p>
                                <button class="action-button-orange size-medium all-space" title="Enviar a seguimiento" ng-click="completeStep(selectedContact, CONTACT_STATUS.RULED_OUT.code)">Enviar a seguimiento</button>
                                <hr>
                                <div>
                                    Asegúrate de revisar los siguientes links:
                                    <ul>
                                        <li><a href="http://www.xangousa.myvoffice.com/pdf/en/MEX-SPA-DISTAPP.pdf" target="_blank">Documento de solicitud de xango</a><br/></li>
                                        <li><a href="https://4.xango.com.mx/opportunity/signup" target="_blank">Link a inscripción por Internet de xango</a><br/></li>
                                        <li><a ng-click="showAudioCloseGuide()">Audio de cierre</a></li>
                                    </ul>
                                    <audio controls ng-if="isAudioCloseGuideVisible()">
                                        <source ng-src="{{ AUDIO_GUIDES.CLOSE.source }}">
                                    </audio>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <form>
                <fieldset>
                    <input type="button" class="action-button-cancel" ng-click="showContactListView()" value="Regresar a la lista" />
                </fieldset>
            </form>
        </div>

        <div class="contact-form" ng-show="isAddingContact() && !isEditingContact()">
            <form novalidate name="newContactForm" class="form" ng-submit="saveContact()">
                <fieldset>
                    <legend>Agregar contacto</legend>
                    <input type="text" placeholder="Nombre de contacto" name="contactName" ng-model="newContact.name" required>
                    <div class="required-message" ng-show="newContactForm.$submitted || newContactForm.contactName.$touched">
                        <span ng-show="newContactForm.contactName.$error.required">El nombre de contacto es requerido.</span>
                    </div>
                    <input type="email" placeholder="Correo electrónico" name="contactMail" ng-model="newContact.email">
                    <div class="required-message" ng-show="newContactForm.$submitted || newContactForm.contactMail.$touched">
                        <span ng-show="newContactForm.contactMail.$error.required">El correo electrónico es requerido.</span>
                        <span ng-show="newContactForm.contactMail.$error.email">El correo electrónico no es válido.</span>
                    </div>
                    <input type="text" placeholder="Teléfono de contacto" name="contactPhone" ng-model="newContact.phone">
                    <textarea name="contactDescription" ng-model="newContact.description" placeholder="Notas"></textarea>
                </fieldset>
                <fieldset>
                    <button class="action-button-forgot">Guardar contacto</button>
                    <input type="button" class="action-button-cancel" ng-click="showContactListView()" value="Cancelar" />
                </fieldset>
            </form>
        </div>

        <div class="contact-form" ng-show="!isAddingContact() && isEditingContact()">
            <form novalidate name="editContactForm" class="form" ng-submit="updateContact()">
                <fieldset>
                    <legend>Editar contacto</legend>
                    <input type="text" placeholder="Nombre de contacto" name="contactName" ng-model="selectedContact.name" required>
                    <div class="required-message" ng-show="editContactForm.$submitted || editContactForm.contactName.$touched">
                        <span ng-show="editContactForm.contactName.$error.required">El nombre de contacto es requerido.</span>
                    </div>
                    <input type="email" placeholder="Correo electrónico" name="contactMail" ng-model="selectedContact.email">
                    <div class="required-message" ng-show="editContactForm.$submitted || editContactForm.contactMail.$touched">
                        <span ng-show="editContactForm.contactMail.$error.required">El correo electrónico es requerido.</span>
                        <span ng-show="editContactForm.contactMail.$error.email">El correo electrónico no es válido.</span>
                    </div>
                    <input type="text" placeholder="Teléfono de contacto" name="contactPhone" ng-model="selectedContact.phone">
                    <textarea name="contactDescription" ng-model="selectedContact.description" placeholder="Notas"></textarea>
                </fieldset>
                <fieldset>
                    <button class="action-button-forgot">Guardar cambios</button>
                    <input type="button" class="action-button-cancel" ng-click="showContactListView()" value="Cancelar" />
                </fieldset>
            </form>
        </div>
    </div>

    <script type="text/ng-template" id="modal/mail_request_modal.tpl.html">
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" ng-click="$hide()">&times;</button>
                        <form novalidate name="mailRequestForm" class="form" ng-submit="mailRequestForm.$valid && retryCompleteStep(selectedContact, CONTACT_STATUS.REGISTERED.code)" form-autofill-fix>
                            <fieldset>
                                <legend>Email de registro</legend>
                                <input type="email" placeholder="Correo electrónico" name="contactMail" ng-model="selectedContact.requestedEmail" required>
                                <div class="required-message" ng-show="mailRequestForm.$submitted || mailRequestForm.contactMail.$touched">
                                    <span ng-show="mailRequestForm.contactMail.$error.required">El correo electrónico es requerido.</span>
                                    <span ng-show="mailRequestForm.contactMail.$error.email">El correo electrónico no es válido.</span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <button class="action-button-forgot">Registrar</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="modal/confirm_delete_modal.tpl.html">
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" ng-click="$hide()">&times;</button>
                        <form novalidate class="form" ng-submit="deleteContact(clickedContact.id)">
                            <fieldset>
                                <legend>¿Estás seguro que deseas eliminar?</legend>
                            </fieldset>
                            <fieldset>
                                <button class="action-button-forgot">Eliminar</button>
                                <input type="button" class="action-button-cancel" ng-click="$hide()" value="Cancelar" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </script>

</div>
