<div ng-controller="NetworkController as networkCtrl">
    <h2 class="section-title">{{ sectionTitle }}</h2>

    <div class="section-content network-container">
        <div class="downline-search">
            <form class="form">
                <input type="text" ng-model="downlineQueryFilter" placeholder="Buscar downline">
            </form>
        </div>
        <table class="network-list">
            <tbody>
                <tr class="network-table-global-actions">
                    <td colspan="2">
                        <button class="action-button-purple size-medium" ng-click="invite()">Invitar</button>
                    </td>
                </tr>
                <tr ng-repeat="downline in downlines | filter:downlineQueryFilter">
                    <td class="downline-image">
                        <span class="user-image">
                            <span class="icon-user" ng-if="!downline.image"></span>
                            <div class="image-container"><img ng-src="{{ downline.image }}" alt="{{ downline.name }}" ng-if="downline.image"></div>
                        </span>
                    </td>
                    <td>
                        <span class="downline-name">{{ downline.name }}</span>
                        <span class="downline-status">Estatus</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>