<div ng-controller="ListController as listCtrl">
    <h2 class="section-title">{{ sectionTitle }}</h2>

    <div class="section-content contact-container">
        <form class="form" ng-show="isContactListEmpty() && !isAddingContact() && !isEditingContact()">
            <input type="text" placeholder="Busca un contacto: Ej. Jorge Hernández" ng-model="contactQuery">
        </form>

        <div ng-show="!isContactListEmpty() && !isAddingContact()" class="message-container">
            <p class="message">Aún no cuentas con algún contacto</p>
            <div class="actions">
                <a class="action-button-purple size-medium" title="Agregar una nueva meta" ng-click="createContact()">Agregar nuevo contacto</a>
            </div>
        </div>

        <div ng-show="isContactListEmpty() && !isAddingContact() && !isEditingContact()">
            <div class="contact-list">
                <div class="actions">
                    <a class="action-button-purple size-medium" title="Agregar una nueva meta" ng-click="createContact()">Agregar nuevo contacto</a>
                </div>
                <div ng-repeat="contact in contactList | filter:contactQuery | orderBy:['order', 'name']"  class="contact">
                    <div class="contact-info-container">
                        <span us-spinner spinner-key="contact-spinner-{{contact.id}}"></span>
                        <div class="contact-image">
                            <span class="user-image">
                                <span class="icon-user" ng-if="!contact.picture"></span>
                                <div class="image-container"><img ng-src="{{ contact.picture }}" alt="{{ contact.name }}" ng-if="contact.picture"></div>
                            </span>
                        </div>
                        <div class="contact-info">
                            <div class="contact-name">{{ contact.name }}</div>
                            <div class="contact-status">
                                <span class="status" ng-class="getContactStatus(contact.status).class">{{ getContactStatus(contact.status).title }}</span>
                                <!--span class="status-actions" ng-show="showButton(contact, 'close-workflow')">
                                    <a class="register-contact" title="Registrar" ng-click="updateFinalStatus(contact, CONTACT_STATUS.REGISTERED.code)"><span class="icon-add-user"></span></a>
                                    <a class="discard-contact" title="Descartar" ng-click="updateFinalStatus(contact, CONTACT_STATUS.RULED_OUT.code)"><span class="icon-remove-user"></span></a>
                                </span-->
                            </div>
                            <div class="contact-email" ng-if="contact.email"><span class="icon-envelope icon"></span> <a href="mailto:{{ contact.email }}" title="Enviar correo">{{ contact.email }}</a></div>
                            <div class="contact-phone" ng-if="contact.phone"><span class="icon-phone icon"></span> {{ contact.phone }}</div>
                            <div ng-if="contact.showInfo">
                                <div class="contact-description">{{ contact.description }}</div>
                                <div class="progress-wrapper">
                                    <div class="progress"  ng-style="{'font-size': getFontSize()}">{{ ((getContactStatus(contact.status).order/5)*100) | number:0 }}%</div>
                                    <div round-progress
                                         max="5"
                                         current="getContactStatus(contact.status).order"
                                         color="{{getContactStatus(contact.status).color}}"
                                         bgcolor="#eaeaea"
                                         radius="50"
                                         stroke="12"
                                         semi="false"
                                         rounded="false"
                                         clockwise="true"
                                         iterations="50"
                                         animation="easeInOutQuart"></div>
                                </div>
                                <div class="contact-actions">

                                    <br/>
                                    <div ng-if="contact.status == CONTACT_STATUS.TO_INVITE.code">
                                        <div>
                                            <legend>¿Cómo deseas invitar al prospecto?</legend>

                                            <button type="button" name="inviteOptionList" class="btn btn-default dropdown" data-animation="am-flip-x" bs-dropdown="inviteOptionsDropdown">
                                                <span ng-if="!selectedInvitationOption">Selecciona un metodo de contacto</span>
                                                <span ng-if="selectedInvitationOption">{{ selectedInvitationOption.text }}</span>
                                                <span class="caret"></span>
                                            </button>
                                        </div>

                                        <div ng-if="selectedInvitationOption.code=='online'">
                                            <div class="send-video-legend">Enviar plan: </div>
                                            <div class="send-video-actions">
                                                <button type="button" name="planList" class="btn btn-default dropdown" data-animation="am-flip-x" bs-dropdown="planDropdown">
                                                    <span ng-if="!selectedPlan">Selecciona un plan</span>
                                                    <span ng-if="selectedPlan">{{ selectedPlan.title }}</span>
                                                    <span class="caret"></span>
                                                </button>
                                                <button class="action-button-send icon-arrow-circle-right" title="Enviar plan" ng-click="sendVideo(contact)" ng-disabled="!selectedPlan"></button>
                                            </div>
                                        </div>
                                        <div ng-if="selectedInvitationOption.code=='call'">
                                            <div class="send-video-legend">¿Necesitas guía para hacer la llamada? Haz click aquí</div>
                                            <div>¿Ya concretaste una cita?</div>
                                            <div class="checkbox-label">
                                                <checkbox type="checkbox" ng-model="stepCompleted.confirmation"></checkbox>
                                                <span>Si, ya concreté una cita.</span>
                                            </div>
                                            <button class="action-button-send icon-arrow-circle-right" title="Continuar" ng-click="completeStep(contact, CONTACT_STATUS.CONTACTED.code)" ng-disabled="!stepCompleted"></button>

                                        </div>
                                    </div>
                                    <div ng-if="contact.status == CONTACT_STATUS.CONTACTED.code">
                                        <div>
                                            <div>¿Tu prospecto ya vio el plan?</div>
                                            <div class="checkbox-label">
                                                <checkbox type="checkbox" ng-model="stepCompleted.confirmation"></checkbox>
                                                <span>Si, ya vio el plan.</span>
                                            </div>
                                            <button class="action-button-send icon-arrow-circle-right" title="Continuar" ng-click="completeStep(contact, CONTACT_STATUS.TO_CLOSE.code)" ng-disabled="!stepCompleted"></button>
                                        </div>
                                    </div>
                                    <div ng-if="contact.status == CONTACT_STATUS.TO_CLOSE.code">
                                        <div>
                                            <div>¿A tu prospecto le interesó el plan?</div>
                                            <div class="checkbox-label">
                                                <checkbox type="checkbox" ng-model="stepCompleted.confirmation"></checkbox>
                                                <span>Si, le interesó el plan.</span>
                                            </div>
                                            <button class="action-button-send icon-arrow-circle-right" title="Continuar" ng-click="completeStep(contact, CONTACT_STATUS.TO_REGISTER.code)" ng-disabled="!stepCompleted"></button>
                                        </div>
                                    </div>
                                    <div ng-if="contact.status == CONTACT_STATUS.TO_REGISTER.code">
                                        <div>
                                            <div>¿Tu prospecto ya se inscribió?</div>
                                            <div class="checkbox-label">
                                                <checkbox type="checkbox" ng-model="stepCompleted.confirmation"></checkbox>
                                                <span>Si, ya se inscribió</span>
                                            </div>
                                            <button class="action-button-send icon-arrow-circle-right" title="Continuar" ng-click="completeStep(contact, CONTACT_STATUS.REGISTERED.code)" ng-disabled="!stepCompleted"></button>
                                        </div>
                                    </div>
                                    <div ng-if="contact.status == CONTACT_STATUS.REGISTERED.code">
                                        <div>
                                            <div>El proceso de inscripción fue completado con éxito.</div>
                                        </div>
                                    </div>
                                    <div ng-if="contact.status == CONTACT_STATUS.RULED_OUT.code">
                                        <div>
                                            <div>¿Deseas comenzar el proceso nuevamente?</div>
                                            <div class="checkbox-label">
                                                <checkbox type="checkbox" ng-model="stepCompleted.confirmation"></checkbox>
                                                <span>Si, comenzar el proceso.</span>
                                            </div>
                                            <button class="action-button-send icon-arrow-circle-right" title="Continuar" ng-click="completeStep(contact, CONTACT_STATUS.TO_INVITE.code)" ng-disabled="!stepCompleted"></button>
                                        </div>
                                    </div>

                                    <span class="action-button-edit icon-edit" title="Editar Contacto" ng-click="editContact(contact)"></span>
                                    <span class="action-button-delete icon-circle-with-cross" title="Eliminar Contacto" ng-click="deleteContact($index, contact.id)"></span>
                                </div>
                                <div ng-if="contact.test_score">
                                    <p>Nivel de interés (1-10): {{contact.test_score.score}}</p>
                                    <p>¿Cuándo contactarlo? {{contact.test_score.description}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="contact-detail-toggle-icon" ng-click="toggleContactInfo(contact)"><span ng-class="{ true:'icon-circle-down', false:'icon-circle-right'}[contact.showInfo]"></span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-form" ng-show="isAddingContact() && !isEditingContact()">
            <form novalidate name="newContactForm" class="form" ng-submit="saveContact()">
                <fieldset>
                    <legend>Agregar contacto</legend>
                    <input type="text" placeholder="Nombre de contacto" name="contactName" ng-model="selectedContact.name" required>
                    <div ng-show="newContactForm.$submitted || newContactForm.contactName.$touched">
                        <span ng-show="newContactForm.contactName.$error.required">El nombre de contacto es requerido.</span>
                    </div>
                    <input type="email" placeholder="Correo electrónico" name="contactMail" ng-model="selectedContact.email" required>
                    <div ng-show="newContactForm.$submitted || newContactForm.contactMail.$touched">
                        <span ng-show="newContactForm.contactMail.$error.required">El correo electrónico es requerido.</span>
                        <span ng-show="newContactForm.contactMail.$error.email">El correo electrónico no es válido.</span>
                    </div>
                    <input type="text" placeholder="Teléfono de contacto" name="contactPhone" ng-model="selectedContact.phone" required>
                    <div ng-show="newContactForm.$submitted || newContactForm.contactPhone.$touched">
                        <span ng-show="newContactForm.contactPhone.$error.required">El teléfono de contacto es requerido.</span>
                    </div>
                    <textarea name="contactDescription" ng-model="selectedContact.description" placeholder="Notas"></textarea>
                </fieldset>
                <fieldset>
                    <button class="action-button-forgot">Guardar contacto</button>
                    <input type="button" class="action-button-cancel" ng-click="showContactListView()" value="Cancelar" />
                </fieldset>
            </form>
        </div>

        <div class="contact-form" ng-show="!isAddingContact() && isEditingContact()">
            <form novalidate name="editContactForm" class="form" ng-submit="updateContact()">
                <fieldset>
                    <legend>Editar contacto</legend>
                    <input type="text" placeholder="Nombre de contacto" name="contactName" ng-model="selectedContact.name" required>
                    <div ng-show="editContactForm.$submitted || editContactForm.contactName.$touched">
                        <span ng-show="editContactForm.contactName.$error.required">El nombre de contacto es requerido.</span>
                    </div>
                    <input type="email" placeholder="Correo electrónico" name="contactMail" ng-model="selectedContact.email" required>
                    <div ng-show="editContactForm.$submitted || editContactForm.contactMail.$touched">
                        <span ng-show="editContactForm.contactMail.$error.required">El correo electrónico es requerido.</span>
                        <span ng-show="editContactForm.contactMail.$error.email">El correo electrónico no es válido.</span>
                    </div>
                    <input type="text" placeholder="Teléfono de contacto" name="contactPhone" ng-model="selectedContact.phone" required>
                    <div ng-show="editContactForm.$submitted || editContactForm.contactPhone.$touched">
                        <span ng-show="editContactForm.contactPhone.$error.required">El teléfono de contacto es requerido.</span>
                    </div>
                    <textarea name="contactDescription" ng-model="selectedContact.description" placeholder="Notas"></textarea>
                </fieldset>
                <fieldset>
                    <button class="action-button-forgot">Guardar cambios</button>
                    <input type="button" class="action-button-cancel" ng-click="showContactListView()" value="Cancelar" />
                </fieldset>
            </form>
        </div>
    </div>

</div>
