<div ng-controller="CycleController as cycleCtrl">
    <h2 class="section-title">{{ sectionTitle }}</h2>

    <!-- Sección de ciclos -->
    <div class="section-content downline-container" ng-show="!isInviteView()">
        <ul class="downline-tree">
            <li>
                <div class="downline"  class="downline" ng-class="{ true: 'selected' }[isCurrentDownline(currentUser)]">
                    <div class="downline-image" ng-if="!currentUser.getPicture()" ng-click="setCurrentDownline($event, currentUser)">
                        <span class="icon-user"></span>
                    </div>
                    <img ng-if="currentUser.getPicture()" ng-src="{{ currentUser.getPicture() }}" alt="{{ currentUser.getFirstName() }}" ng-click="setCurrentDownline($event, currentUser)">
                    <h3 class="downline-name">{{ currentUser.getFirstName() }} {{ currentUser.getLastName() }}</h3>
                    <div ng-if="isCurrentDownline(currentUser)">
                        <div class="downline-test-scores" ng-if="hasTestScores(currentUser)">
                            <div class="test-score" class="test-downlines-count">
                                <div>
                                    <span class="score">{{ currentUser.getDownlineCount() }}</span>
                                    <p>Socios en su red</p>
                                </div>
                            </div>
                            <div class="test-score test-colors">
                                <div ng-if="currentUser.getTestScores().colors">
                                    <canvas id="pie" class="chart chart-pie" data="dataChart.data" labels="dataChart.labels" colours="dataChart.colours" ></canvas>
                                    <p>Resultado de test de pesonalidad</p>
                                </div>
                                <div ng-if="!currentUser.getTestScores().colors">
                                    Aun no has realizado el Test de personalidad. <br><br> Haz clic <a ui-sref="profile.test">aquí</a> para tomarlo
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="global-actions">
                        <button class="action-button-purple size-medium" ng-click="showInviteView($event)">Registrar nuevos socios</button>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="downline-tree">
            <li ng-repeat="downline in downlinesList">
                <div ng-if="downline.getId()" class="downline" ng-class="{ true: 'selected' }[isCurrentDownline(downline)]">
                    <div class="downline-image" ng-if="!downline.getPicture()" ng-click="setCurrentDownline($event, downline)">
                        <span class="icon-user"></span>
                    </div>
                    <img ng-if="downline.getPicture()" ng-src="{{ downline.getPicture() }}" alt="{{ downline.getFirstName() }}" ng-click="setCurrentDownline($event, downline)">
                    <h3 class="downline-name">{{ downline.getFirstName() }} {{ downline.getLastName() }}</h3>
                    <div ng-if="isCurrentDownline(downline)">
                        <div class="downline-test-scores" ng-if="hasTestScores(downline)">
                            <div class="test-score" class="test-downlines-count">
                                <div>
                                    <span class="score">{{ downline.getDownlineCount() }}</span>
                                    <p>Socios en su red</p>
                                </div>
                            </div>
                            <div class="test-score test-colors">
                                <div ng-if="downline.getTestScores().colors">
                                    <canvas id="pie" class="chart chart-pie" data="dataChart.data" labels="dataChart.labels" colours="dataChart.colours" ></canvas>
                                    <p>Resultado de test de pesonalidad</p>
                                </div>
                                <div ng-if="!downline.getTestScores().colors">
                                    {{ downline.getFirstName() }} no ha realizado el Test de personalidad.
                                </div>
                            </div>
                        </div>
                        <span class="downline-action action-button-edit icon-swap-vert-circle" title="Cambiar socio" ng-click="showDownlineList()"></span>
                        <span class="downline-action action-button-delete icon-circle-with-cross" title="Quitar socio" ng-click="detachDownline(downline)"></span>
                    </div>
                </div>
                <div ng-if="!downline.getId()" class="downline" ng-class="{ true: 'selected' }[isCurrentDownline(downline)]">
                    <div class="downline-image" ng-click="setCurrentDownline($event, downline)">
                        <span class="icon-user"></span>
                    </div>
                    <p class="donwline-space-available">Disponible</p>
                    <div ng-if="isCurrentDownline(downline)">
                        <span class="downline-action action-button-add icon-circle-with-plus" title="Asignar socio" ng-click="showDownlineList()"></span>
                    </div>
                </div>
                <ng-downline-list current-user="currentUser" network="downlinesNetworkList" select-downline="attachDownline" downline-position="$index+1" show-downline-list="showDownlineList" hide-downline-list="hideDownlineList"></ng-downline-list>
            </li>
        </ul>
    </div>

    <!-- Forma para invitar Downlines -->
    <div class="section-content network-container" ng-show="isInviteView()">
        <div class="form-container">
            <form novalidate name="invitationForm" class="form" ng-submit="invite()">
                <fieldset>
                    <span ng-show="invitationForm.$pristine">{{ invitationFormMessage }}</span>
                    <legend>Registar un nuevo socio</legend>
                    <input type="text" placeholder="Nombre del socio" name="invitationRecipentName" ng-model="invitation.recipient_name" ng-required="true">
                    <div ng-show="invitationForm.$submitted || invitationForm.invitationRecipentName.$touched">
                        <span ng-show="invitationForm.invitationRecipentName.$error.required">El nombre es requerido.</span>
                    </div>
                    <input type="email" placeholder="Correo electrónico del socio" name="invitationRecipentEmail" ng-model="invitation.recipient_email" ng-required="true">
                    <div ng-show="invitationForm.$submitted || invitationForm.invitationRecipentEmail.$touched">
                        <span ng-show="invitationForm.invitationRecipentEmail.$error.required">El correo electrónico es requerido.</span>
                        <span ng-show="invitationForm.invitationRecipentEmail.$error.email">El correo electrónico no es válido.</span>
                    </div>
                </fieldset>
                <fieldset>
                    <button class="action-button-login">Registrar</button>
                    <input type="button" class="action-button-cancel" ng-click="hideInviteView()" value="Cancelar" />
                </fieldset>
            </form>
        </div>
    </div>
</div>