<div ng-controller="NetworkController as networkCtrl">
    <h2 class="section-title">{{ sectionTitle }}</h2>

    <div class="section-content network-container" ng-show="!isInviteView()">
        <div class="global-actions">
            <button class="action-button-purple size-medium" ng-click="showInviteView()">Invitar</button>
        </div>
        <div ng-if="!downlines.length" class="message-container">
            <p class="message"> Por el momento no tienes downlines en tu red. Haz clic en el botón de invitar personas a formar parte de tu red.</p>
        </div>
        <div ng-if="downlines.length">
            <div class="downline-search">
                <form class="form">
                    <input type="text" ng-model="downlineQueryFilter" placeholder="Buscar downline">
                </form>
            </div>
            <table class="network-list">
                <tbody>
                <tr ng-repeat="downline in downlines | filter:downlineQueryFilter">
                    <td class="downline-image">
                        <span class="user-image">
                            <span class="icon-user" ng-if="!downline.getPicture()"></span>
                            <div class="image-container"><img ng-src="{{ downline.getPicture() }}" alt="{{ downline.getFirstName() }}" ng-if="downline.getPicture()"></div>
                        </span>
                    </td>
                    <td>
                        <span class="downline-name">{{ downline.getFirstName() }} {{ downline.getLastName() }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="section-content network-container" ng-show="isInviteView()">
        <div class="form-container">
            <form novalidate name="invitationForm" class="form" ng-submit="invite()">
                <fieldset>
                    <span>{{ invitationFormMessage }}</span>
                    <legend>Envia una invitación</legend>
                    <input type="text" placeholder="Nombre del invitado" name="invitationRecipentName" ng-model="invitation.recipient_name" ng-required="true">
                    <div ng-show="invitationForm.$submitted || invitationForm.invitationRecipentName.$touched">
                        <span ng-show="invitationForm.invitationRecipentName.$error.required">El nombre es requerido.</span>
                    </div>
                    <input type="email" placeholder="Correo electrónico del invitado" name="invitationRecipentEmail" ng-model="invitation.recipient_email" ng-required="true">
                    <div ng-show="invitationForm.$submitted || invitationForm.invitationRecipentEmail.$touched">
                        <span ng-show="invitationForm.invitationRecipentEmail.$error.required">El correo electrónico es requerido.</span>
                        <span ng-show="invitationForm.invitationRecipentEmail.$error.email">El correo electrónico no es válido.</span>
                    </div>
                </fieldset>
                <fieldset>
                    <button class="action-button-login">Enviar</button>
                    <input type="button" class="action-button-cancel" ng-click="hideInviteView()" value="Cancelar" />
                </fieldset>
            </form>
        </div>
    </div>
</div>