<div class="login-wrapper row" ng-controller="LoginController as loginCtrl">
    <div class="col-lg-12">
        <div class="login-container">
            <h2 class="section-title">Socio</h2>
            <hr class="separator-gray">
            <div class="login-buttons">
                <a href="" class="action-button-fb size-large" title="SigIn with Facebook"><span class="icon-facebook"></span> Ingresar con  Facebook</a>
            </div>
            <div>
                <form class="form login-switch-container">
                    <label class="login-switch size-medium" ng-class="{ checked: isCurrentView(VIEW.SIGNIN) }"><input type="radio" ng-model="currentView" value="{{ VIEW.SIGNIN }}">Ingresar</label>
                    <label class="login-switch size-medium" ng-class="{ checked: isCurrentView(VIEW.SIGNUP) }"><input type="radio" ng-model="currentView" value="{{ VIEW.SIGNUP }}">Registrarse</label>
                </form>
            </div>
            <div class="user-image">
                <span class="icon-user"></span>
            </div>
            <div class="signup-form" ng-if="isCurrentView(VIEW.SIGNUP)">
                <form class="form">
                    <fieldset>
                        <input type="text" placeholder="Nombre" ng-model="newUser.name" required="true">
                        <input type="text" placeholder="Correo" ng-model="newUser.mail" required="true">
                        <input type="password" placeholder="Password" ng-model="newUser.password" required="true">
                        <input type="password" placeholder="Confirmar password" ng-model="newUser.passwordConfirm" required="true">
                        <input type="text" placeholder="ID Iuvare" ng-model="newUser.iuvareId" required="true">
                        <input type="text" placeholder="ID Xango" ng-model="newUser.xangoId" required="true">
                    </fieldset>
                    <fieldset>
                        <button class="action-button-login" ng-click="signup()">Registrar</button>
                    </fieldset>
                </form>
            </div>
            <div class="login-form" ng-if="isCurrentView(VIEW.SIGNIN)">
                <form class="form">
                    <fieldset>
                        <input type="text" placeholder="ID Iuvare" ng-model="credentials.iuvareId" required="true">
                        <input type="password" placeholder="Password" ng-model="credentials.password" required="true">
                    </fieldset>
                    <fieldset>
                        <button class="action-button-login" ng-click="sigin()">Login</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>