<div class="row" ng-controller="PaymentController as paymentCtrl">
    <div class="col-lg-12 section-container">
        <h2 class="section-title">Pagos</h2>
        <p class="payment-description">{{ description }}</p>
        <div class="payment-container">

            <div class="payment-items-table" ng-repeat="product in products">
                <h3 class="item-title">{{ product.item_name }}</h3>
                <div class="payment-info">
                    <div class="item-total">
                        <span class="total-desc">Total</span>
                        <span class="total-amount">{{ product.amount | currency:"MXN $" }}</span>
                        <span class="total-security"><span class="icon-locked"></span> <img src="/assets/paypal-logo.jpg" alt="PayPal"></span>
                        <script src="assets/lib/paypal-button.min.js?merchant=US2BWLTEARVJA"
                                data-amount="{{product.amount}}"
                                data-button="buynow"
                                data-callback="http://socios.iuvare.mx/payments/ipn"
                                data-cancel-return="http://socios.iuvare.mx/pagos-error"
                                data-currency="MXN"
                                data-custom="{{product.custom}}"
                                data-host="www.paypal.com"
                                data-lc="es_ES"
                                data-name="{{product.item_name}}"
                                data-no_shipping="{{ (product.shipping ? '2' : '1') }}"
                                data-return="http://socios.iuvare.mx/pagos-exito"
                                async>
                        </script>
                    </div>
                </div>
            </div>
            <div class="other-scenarios">
                <p>¿No ves reflejado tu pago a Paypal? <a ng-click="logout()">Ingresa nuevamente.</a></p>
                <p>¿Sigues teniendo un problema? escríbenos <a href="mailto:contacto@iuvare.com.mx">contacto@iuvare.com.mx</a></p>
            </div>
        </div>
    </div>
</div>
