<div class="row" ng-controller="PaymentController as paymentCtrl">
    <div class="col-lg-12 section-container">
        <h2 class="section-title">Pagos</h2>
        <p class="payment-description">Seminario mensual</p>
        <div class="payment-container">
          <div>
            <p> Para recoger boleto:
              <li> Presentarse con comprobante de pago a Paypal impreso e identificación</li>
              <li> En Salón el Ruedo ubicado en Augusto Rodin #110 Col. Ciudad de los Deportes</li>
              <li> de 7:30pm a 9:30pm o el día del evento.</li>
            </p>
            <p> Confirmar con Luis Martínez: <a href="mailto:luismartinez@iuvare.mx">luismartinez@iuvare.mx</a><p/>
          </div>
            <div class="payment-items-table" >
                <h3 class="item-title">1 Boleto de Seminario</h3>
                <div class="payment-info">
                    <div class="item-total">
                        <span class="total-desc">Total</span>
                        <span class="total-amount">MXN $212.00</span>
                        <span class="total-security"><span class="icon-locked"></span> <img src="/assets/paypal-logo.jpg" alt="PayPal"></span>
                        <script src="assets/lib/paypal-button.min.js?merchant=US2BWLTEARVJA"
                                data-amount="212.00"
                                data-button="buynow"
                                data-currency="MXN"
                                data-host="www.paypal.com"
                                data-lc="es_ES"
                                data-name="1 boleto de seminario"
                                data-no_shipping="1"
                                async>
                        </script>
                    </div>
                </div>
                <h3 class="item-title">2 Boletos de Seminario</h3>
                <div class="payment-info">
                    <div class="item-total">
                        <span class="total-desc">Total</span>
                        <span class="total-amount">MXN $420.00</span>
                        <span class="total-security"><span class="icon-locked"></span> <img src="/assets/paypal-logo.jpg" alt="PayPal"></span>
                        <script src="assets/lib/paypal-button.min.js?merchant=US2BWLTEARVJA"
                                data-amount="420.00"
                                data-button="buynow"
                                data-currency="MXN"
                                data-host="www.paypal.com"
                                data-lc="es_ES"
                                data-name="2 boletos de seminario"
                                data-no_shipping="1"
                                async>
                        </script>
                    </div>
                </div>
                <h3 class="item-title">3 Boletos de Seminario</h3>
                <div class="payment-info">
                    <div class="item-total">
                        <span class="total-desc">Total</span>
                        <span class="total-amount">MXN $628.00</span>
                        <span class="total-security"><span class="icon-locked"></span> <img src="/assets/paypal-logo.jpg" alt="PayPal"></span>
                        <script src="assets/lib/paypal-button.min.js?merchant=US2BWLTEARVJA"
                                data-amount="628.00"
                                data-button="buynow"
                                data-currency="MXN"
                                data-host="www.paypal.com"
                                data-lc="es_ES"
                                data-name="3 boletos de Seminario"
                                data-no_shipping="1"
                                async>
                        </script>
                    </div>
                </div>
                <h3 class="item-title">4 Boletos de Seminario</h3>
                <div class="payment-info">
                    <div class="item-total">
                        <span class="total-desc">Total</span>
                        <span class="total-amount">MXN $836.00</span>
                        <span class="total-security"><span class="icon-locked"></span> <img src="/assets/paypal-logo.jpg" alt="PayPal"></span>
                        <script src="assets/lib/paypal-button.min.js?merchant=US2BWLTEARVJA"
                                data-amount="836.00"
                                data-button="buynow"
                                data-currency="MXN"
                                data-host="www.paypal.com"
                                data-lc="es_ES"
                                data-name="4 boletos de Seminario"
                                data-no_shipping="1"
                                async>
                        </script>
                    </div>
                </div>
                <h3 class="item-title">5 Boletos de Seminario</h3>
                <div class="payment-info">
                    <div class="item-total">
                        <span class="total-desc">Total</span>
                        <span class="total-amount">MXN $1,044.00</span>
                        <span class="total-security"><span class="icon-locked"></span> <img src="/assets/paypal-logo.jpg" alt="PayPal"></span>
                        <script src="assets/lib/paypal-button.min.js?merchant=US2BWLTEARVJA"
                                data-amount="1044.00"
                                data-button="buynow"
                                data-currency="MXN"
                                data-host="www.paypal.com"
                                data-lc="es_ES"
                                data-name="5 boletos de Seminario"
                                data-no_shipping="1"
                                async>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
