<div class="row" ng-controller="PaymentController as paymentCtrl">
    <div class="col-lg-12 section-container">
        <h2 class="section-title">Pagos</h2>
        <p class="payment-description">Gregg Braden</p>
        <div class="payment-container">
          <div>
            <p> Fecha del evento: 19 de noviembre 10:00am <p/>
            <p> Para recoger boleto:
              <li> Presentarse con comprobante de pago a Paypal impreso e identificación</li>
              <li> En Salón el Ruedo ubicado en Augusto Rodin #110 Col. Ciudad de los Deportes</li>
              <li> de lunes a viernes hasta el 18 de noviembre entre 6:30pm y 9:30pm</li>
            </p>
            <p> Confirmar con Luis Martínez: <a href="mailto:luismartinez@iuvare.mx">luismartinez@iuvare.mx</a><p/>
          </div>
            <div class="payment-items-table" >
                <h3 class="item-title">1 Boleto Gregg Braden</h3>
                <div class="payment-info">
                    <div class="item-total">
                        <span class="total-desc">Total</span>
                        <span class="total-amount">MXN $834.90</span>
                        <span class="total-security"><span class="icon-locked"></span> <img src="/assets/paypal-logo.jpg" alt="PayPal"></span>
                        <script src="assets/lib/paypal-button.min.js?merchant=US2BWLTEARVJA"
                                data-amount="834.80"
                                data-button="buynow"
                                data-currency="MXN"
                                data-host="www.paypal.com"
                                data-lc="es_ES"
                                data-name="1 boleto Gregg Braden"
                                data-no_shipping="1"
                                async>
                        </script>
                    </div>
                </div>
                <h3 class="item-title">2 Boletos Gregg Braden</h3>
                <div class="payment-info">
                    <div class="item-total">
                        <span class="total-desc">Total</span>
                        <span class="total-amount">MXN $1,669.60</span>
                        <span class="total-security"><span class="icon-locked"></span> <img src="/assets/paypal-logo.jpg" alt="PayPal"></span>
                        <script src="assets/lib/paypal-button.min.js?merchant=US2BWLTEARVJA"
                                data-amount="1669.60"
                                data-button="buynow"
                                data-currency="MXN"
                                data-host="www.paypal.com"
                                data-lc="es_ES"
                                data-name="2 boletos Gregg Braden"
                                data-no_shipping="1"
                                async>
                        </script>
                    </div>
                </div>
                <h3 class="item-title">3 Boletos Gregg Braden</h3>
                <div class="payment-info">
                    <div class="item-total">
                        <span class="total-desc">Total</span>
                        <span class="total-amount">MXN $2,504.40</span>
                        <span class="total-security"><span class="icon-locked"></span> <img src="/assets/paypal-logo.jpg" alt="PayPal"></span>
                        <script src="assets/lib/paypal-button.min.js?merchant=US2BWLTEARVJA"
                                data-amount="2504.40"
                                data-button="buynow"
                                data-currency="MXN"
                                data-host="www.paypal.com"
                                data-lc="es_ES"
                                data-name="3 boletos Gregg Braden"
                                data-no_shipping="1"
                                async>
                        </script>
                    </div>
                </div>
                <h3 class="item-title">4 Boletos Gregg Braden</h3>
                <div class="payment-info">
                    <div class="item-total">
                        <span class="total-desc">Total</span>
                        <span class="total-amount">MXN $3,339.20</span>
                        <span class="total-security"><span class="icon-locked"></span> <img src="/assets/paypal-logo.jpg" alt="PayPal"></span>
                        <script src="assets/lib/paypal-button.min.js?merchant=US2BWLTEARVJA"
                                data-amount="3339.20"
                                data-button="buynow"
                                data-currency="MXN"
                                data-host="www.paypal.com"
                                data-lc="es_ES"
                                data-name="4 boletos Gregg Braden"
                                data-no_shipping="1"
                                async>
                        </script>
                    </div>
                </div>
                <h3 class="item-title">5 Boletos Gregg Braden</h3>
                <div class="payment-info">
                    <div class="item-total">
                        <span class="total-desc">Total</span>
                        <span class="total-amount">MXN $4,174.00</span>
                        <span class="total-security"><span class="icon-locked"></span> <img src="/assets/paypal-logo.jpg" alt="PayPal"></span>
                        <script src="assets/lib/paypal-button.min.js?merchant=US2BWLTEARVJA"
                                data-amount="4174.00"
                                data-button="buynow"
                                data-currency="MXN"
                                data-host="www.paypal.com"
                                data-lc="es_ES"
                                data-name="5 boletos Gregg Braden"
                                data-no_shipping="1"
                                async>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
