<div class="login-wrapper row" ng-controller="PlanController as planCtrl">
    <div class="col-lg-12">
        <div class="plan-container">
            <span us-spinner spinner-key="container-spinner"></span>

            <h2 class="section-title">Bienvenido a Iuvare</h2>
            <hr class="separator-gray">
            <div>
                <p ng-if="!isTokenSent()">Espere un momento por favor</p>

                <div ng-if="(isTokenSent() && !isValidToken() && !hasVideoEnded() && !hasTestSent()) || asset && !asset.source" class="message-container">
                    <p class="message"><span class="icon-camera message-icon"></span></p>
                    <p class="message">Hubo un problema al cargar el video, por favor, contacta a la persona que te envió el correo.</p>
                </div>
                <div ng-if="isTokenSent() && isValidToken() && asset.source && !hasVideoEnded()" class="plan-video">

                    <videogular vg-theme="asset.config.theme" vg-complete="onComplete()">
                        <vg-media vg-src="asset.config.sources">
                        </vg-media>

                        <vg-controls>
                            <vg-play-pause-button></vg-play-pause-button>
                            <vg-time-display>{{ currentTime | millSecondsToTimeString }}</vg-time-display>
                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                            </vg-scrub-bar>
                            <vg-time-display>{{ timeLeft | millSecondsToTimeString }}</vg-time-display>
                            <vg-volume>
                                <vg-mute-button></vg-mute-button>
                                <vg-volume-bar></vg-volume-bar>
                            </vg-volume>
                            <vg-fullscreen-button></vg-fullscreen-button>
                        </vg-controls>

                        <vg-overlay-play></vg-overlay-play>
                    </videogular>
                </div>


                <!-- Forma para nuevo test -->
                <div class="test-form" ng-if="isTokenSent() && isValidToken() && hasVideoEnded() && !hasTestSent()">
                    <p>Casi terminamos, por favor contesta la siguiente encuesta para finalizar.</p>
                    <form novalidate name="testForm.form" class="form" ng-submit="sendTest()">
                        <fieldset>
                            <p class="question">1. {{ test.questions[0].text }}</p>
                            <label  ng-repeat="answer in test.questions[0].answers" class="range-answer-options">
                                <div>{{ answer.text }}</div>
                                <div><input type="radio" ng-model="testAnswers.interest" value="{{ answer }}" required></div>
                            </label>
                        </fieldset>
                        <fieldset>
                            <p class="question">2. {{ test.questions[1].text }}</p>
                            <label ng-repeat="answer in test.questions[1].answers" class="contact-time">
                                <div>{{ answer.text }}</div>
                                <div><input type="radio" ng-model="testAnswers.contactTime" value="{{ answer }}" required></div>
                            </label>
                        </fieldset>
                        <fieldset>
                            <button class="action-button-forgot">Enviar</button>
                        </fieldset>
                    </form>
                </div>

                <div ng-if="hasTestSent()" class="score">
                    <h3>Gracias por tu tiempo, tus respuestas han sido enviadas.</h3>
                </div>

            </div>
        </div>
    </div>
</div>