<div ng-controller="CollageController as collageCtrl">
    <h2 class="section-title">{{ sectionTitle }}</h2>

    <div class="masonry-container" masonry="{ columnWidth: '.masonry-brick-container', 'preserveOrder': 'true' }">
        <div class="masonry-brick masonry-brick-container" ng-repeat="brick in bricks">
            <img ng-src="{{ brick.src }}">
            <div class="masonry-brick-overlay" ng-show="brick.uploading || brick.error"></div>
            <span class="icon-spinner loading" ng-show="brick.uploading"></span>
            <span class="icon-help reload" ng-show="brick.error" ng-click="reloadPicture(brick)"></span>
            <div class="close-button" ng-hide="brick.uploading"><span class="icon-circle-with-cross" ng-click="removePicture(brick)"></span></div>
        </div>
    </div>

    <button class="action-button-upload" ng-click="openPictureSelector($event)">Agregar imagen</button>
    <input type='file' accept="image/*" onchange="angular.element(this).scope().addPicture(this)" name="picture" enctype="multipart/form-data" runat="server" style="display: none"/>

</div>