<div ng-controller="ProfileController as profileCtrl" class="profile-container">
    <h2 class="section-title">{{ sectionTitle }}</h2>

    <div class="profile-form">
        <div class="profile-picture">
            <div class="picture-container">
                <div class="picture">
                    <img src="">
                </div>
            </div>
        </div>

        <div class="actions">
            <a class="action-button-purple size-medium" ng-click="openProfilePictureSelector($event)">Seleccionar imagen</a>
            <input type='file' accept="image/*" onchange="angular.element(this).scope().selectProfilePicture(this)" name="picture" enctype="multipart/form-data" runat="server" style="display: none"/>
        </div>
        <form novalidate name="profileForm" class="form" ng-submit="updateProfile()">
            <fieldset>
                <input type="text" placeholder="Nombre(s)" name="profileFirstName" ng-model="currentUser.name" required>
                <div ng-show="profileForm.$submitted || profileForm.profileFirstName.$touched">
                    <span ng-show="profileForm.profileFirstName.$error.required">El nombre es requerido.</span>
                </div>
                <input type="text" placeholder="Apellido(s)" name="profileLastName" ng-model="currentUser.lastName" required>
                <div ng-show="profileForm.$submitted || profileForm.profileLastName.$touched">
                    <span ng-show="profileForm.profileLastName.$error.required">Los apellidos son requerido.</span>
                </div>
                <input type="email" placeholder="Correo electrónico" name="profileEmail" ng-model="currentUser.email" readonly required>
                <div ng-show="profileForm.$submitted || profileForm.profileEmail.$touched">
                    <span ng-show="profileForm.profileEmail.$error.required">El correo electrónico es requerido.</span>
                    <span ng-show="profileForm.profileEmail.$error.email">El correo electrónico no es válido.</span>
                </div>
                <input type="text" placeholder="ID Iuvare" name="profileIuvareId" ng-model="currentUser.iuvareId" readonly required>
                <div ng-show="profileForm.$submitted || profileForm.profileIuvareId.$touched">
                    <span ng-show="profileForm.profileIuvareId.$error.required">El ID Iuvare es requerido.</span>
                </div>
                <input type="text" placeholder="ID Xango" name="profileXangoId" ng-model="currentUser.xangoId" readonly required>
                <div ng-show="profileForm.$submitted || profileForm.profileXangoId.$touched">
                    <span ng-show="profileForm.profileXangoId.$error.required">El ID Xango es requerido.</span>
                </div>
            </fieldset>
            <fieldset>
                <span ng-bind="profileFormMessage"></span>
                <button class="action-button-forgot">Actualizar perfil</button>
            </fieldset>
        </form>
    </div>

    <div class="password-form">
        <form novalidate name="passwordForm" class="form" ng-submit="updatePassword()">
            <fieldset>
                <input type="password" placeholder="Password" name="password" ng-model="currentUser.password" minlength="8" required>
                <div ng-show="passwordForm.$submitted || passwordForm.password.$touched">
                    <div ng-show="passwordForm.password.$error.required">El password es requerido.</div>
                    <div ng-show="passwordForm.password.$error.minlength">El password debe tener una longitud mínima de 8 caracteres.</div>
                </div>
                <input type="password" placeholder="Confirmar password" name="confirmation" ng-model="currentUser.confirmation" pw-check="currentUser.password" required>
                <div ng-show="passwordForm.$submitted || passwordForm.confirmation.$touched">
                    <div ng-show="passwordForm.confirmation.$error.required">La confirmación del password es requerida.</div>
                    <div ng-show="passwordForm.confirmation.$error.pwCheck && !passwordForm.confirmation.$error.required">El password y la confirmación deben ser iguales.</div>
                </div>
            </fieldset>
            <fieldset>
                <span ng-bind="passwordFormMessage"></span>
                <button class="action-button-forgot">Actualizar contraseña</button>
            </fieldset>
        </form>
    </div>

</div>