<div ng-controller="CollageController as collageCtrl">
    <h2 class="section-title">{{ sectionTitle }}</h2>

    <div class="masonry-container" isotope-container=".masonry-container" images-loaded>
        <div isotope-item class="masonry-brick-container" ng-repeat="brick in bricks">
            <img ng-src="{{ brick.src }}" imageonload>
            <div class="masonry-brick-overlay" ng-show="brick.uploading || brick.error"></div>
            <span class="icon-spinner loading" ng-show="brick.uploading"></span>
            <span class="icon-repeat reload" ng-show="brick.error" ng-click="uploadPicture(brick)"></span>
            <div class="close-button" ng-hide="brick.uploading"><span class="icon-circle-with-cross" ng-click="deletePicture(brick)"></span></div>
        </div>
    </div>

    <a class="action-button-purple size-medium" title="Agregar una nueva imagen al collage" ng-click="openPictureSelector($event)">Agregar imagen</a>
    <input type='file' accept="image/*" onchange="angular.element(this).scope().addPicture(this)" name="picture" enctype="multipart/form-data" runat="server" style="display: none"/>

</div>