<div ng-controller="BookController as bookCtrl">
    <h2 class="section-title">{{ sectionTitle }}</h2>

    <div ng-show="pageLoaded" class="section-content">

        <!-- Listado de assets nuevos o destacados  -->

        <div ng-show="!isAssetTextAvailable()" class="message-container">
            <p class="message">No hay libros disponibles</p>
        </div>
        <div ng-show="isAssetTextAvailable()">
            <ul class="book-list">
                <li ng-repeat="asset in assetText">
                    <div class="number">{{ asset.number }}</div>
                    <div class="audio-info">
                        <span class="name">{{ asset.name }}</span>
                        <span class="author">{{ asset.author }}</span>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>
