<div ng-controller="AudioController as audioCtrl">
    <h2 class="section-title">{{ sectionTitle }}</h2>

    <div class="section-content audio-container">

        <aside class="tabs">
            <ul>
                <!--li><a class="tab-item" ng-class="{true: 'selected', false:''}[isSelectedView(VIEWS.TEXT_VIEW)]" ng-click="changeView(VIEWS.TEXT_VIEW)">Lista de audios</a></li-->
                <li><a class="tab-item" ng-class="{true: 'selected', false:''}[isSelectedView(VIEWS.PLAY_VIEW)]" ng-click="changeView(VIEWS.PLAY_VIEW)">Audios grabados</a></li>
            </ul>
        </aside>

        <!-- Listado de assets nuevos o destacados  -->
        <div>
            <div ng-show="isAssetTextEmpty()" class="message-container">
                <p class="message">No hay audios disponibles</p>
            </div>
            <form ng-show="!isAssetTextEmpty()" class="form">
                <input type="text" placeholder="Busca en audios: Ej. Estela Salinas" ng-model="assetQuery">
            </form>
            <div ng-show="!isAssetTextEmpty()" class="assets-list">
                <ul class="audio-list">
                    <li dir-paginate="asset in assetText | filter:assetQuery | itemsPerPage:10">
                        <div class="number">{{ ::asset.number }}</div>
                        <div class="color">
                            <span ng-class="asset.color"></span>
                        </div>
                        <div class="audio-info">
                            <span class="name">{{ ::asset.name }}</span>
                            <span class="author">{{ ::asset.author }}</span>
                            <span class="description" ng-if="asset.description">Tipo: {{ ::asset.description }}</span>
                        </div>
                        <iu-audio asset-path="{{ ASSET_PATH }}" source="{{ asset.source }}"></iu-audio>
                    </li>
                </ul>
            </div>
        </div>
        <dir-pagination-controls></dir-pagination-controls>
    </div>

    <!-- Listado de assets  -->
    <div ng-show="isSelectedView(VIEWS.TEXT_VIEW) && isAssetTextLoaded()">

        <div ng-show="isAssetTextEmpty()" class="message-container">
            <p class="message">No hay audios disponibles</p>
        </div>
        <div ng-show="!isAssetTextEmpty()">
            <ul class="audio-list">
                <li ng-repeat="asset in assetText">
                    <div class="number">{{ asset.number }}</div>
                    <div class="color">
                        <span ng-class="asset.color"></span>
                    </div>
                    <div class="audio-info">
                        <span class="name">{{ asset.name }}</span>
                        <span class="author">{{ asset.author }}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</div>

</div>
