<div ng-controller="BookController as bookCtrl">
    <h2 class="section-title">{{ sectionTitle }}</h2>

    <div ng-show="pageLoaded" class="section-content audio-container">

        <aside class="tabs">
            <ul>
                <li><a class="tab-item" ng-class="{true: 'selected', false:''}[isSelectedView(VIEWS.NEXT_VIEW)]" ng-click="changeView(VIEWS.NEXT_VIEW)">Todos los libros</a></li>
                <li><a class="tab-item" ng-class="{true: 'selected', false:''}[isSelectedView(VIEWS.PAST_VIEW)]" ng-click="changeView(VIEWS.PAST_VIEW)">Libros anteriores</a></li>
            </ul>
        </aside>

        <!-- Listado de assets nuevos o destacados  -->

        <div ng-show="isSelectedView(VIEWS.NEXT_VIEW)">
            <div ng-show="!areNextAssetsAvailable()" class="message-container">
                <p class="message">No hay libros disponibles</p>
            </div>
            <div ng-show="areNextAssetsAvailable()" class="assets-list">
                <div dir-paginate="asset in nextAssetList | filter:assetQuery | itemsPerPage:10" class="asset">
                    <div ng-click="toggleAssetInfo(asset)">
                        <div class="asset-name">{{ asset.title }}</div>
                        <div class="asset-author">{{ asset.author }}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Listado de assets  -->
        <div ng-show="isSelectedView(VIEWS.PAST_VIEW)">
            <div ng-show="!areAssetsAvailable()" class="message-container">
                <p class="message">No hay libros anteriores disponibles</p>
            </div>
            <form ng-show="areAssetsAvailable()" class="form">
                <input type="text" placeholder="Busca en audios: Ej. Estela Salinas" ng-model="assetQuery">
            </form>
            <div ng-show="areAssetsAvailable()" class="assets-list">
                <div dir-paginate="asset in assetList | filter:assetQuery | itemsPerPage:10" class="asset">
                    <div ng-click="toggleAssetInfo(asset)">
                        <div class="asset-name">{{ asset.title }}</div>
                        <div class="asset-author">{{ asset.author }}</div>
                    </div>
                </div>
            </div>
            <dir-pagination-controls></dir-pagination-controls>
        </div>

    </div>

</div>
