<div ng-controller="ConventionController as conventionCtrl">
    <h2 class="section-title">{{ sectionTitle }}</h2>

    <div class="section-content convention-container">

        <aside class="tabs">
            <ul>
                <li><a class="tab-item" ng-class="{true: 'selected', false:''}[isSelectedView(VIEWS.NEXT_VIEW)]" ng-click="changeView(VIEWS.NEXT_VIEW)">Próxima convención</a></li>
                <li><a class="tab-item" ng-class="{true: 'selected', false:''}[isSelectedView(VIEWS.PLAY_VIEW)]" ng-click="changeView(VIEWS.PLAY_VIEW)">Convenciones grabadas</a></li>
            </ul>
        </aside>

        <!-- Listado de nuevos assets o assets destacados -->
        <div  class="latest-assets" ng-show="isSelectedView(VIEWS.NEXT_VIEW)">
            <div ng-show="isNextEventEmpty()" class="message-container">
                <p class="message">No hay próximos seminarios</p>
            </div>
            <div ng-show="!isNextEventEmpty()" class="latest-asset-container">
                <img ng-src="{{ nextEvent.picture }}" alt="{{ nextEvent.title }}" ng-click="openEventPopUp(nextEvent)">
            </div>
        </div>

        <!-- Listado de assets  -->
        <div ng-show="isSelectedView(VIEWS.PLAY_VIEW)">
            <div ng-show="isAssetListEmpty()" class="message-container">
                <p class="message">No hay seminarios disponibles</p>
            </div>
            <form class="form" ng-show="!isAssetListEmpty()">
                <input type="text" placeholder="Busca en convenciones: Ej. Estela Salinas" ng-model="assetQuery">
            </form>
            <div class="assets-list" ng-show="!isAssetListEmpty()">
                <div dir-paginate="asset in assetList | filter:assetQuery | itemsPerPage:10" class="asset">
                    <div ng-click="toggleAssetInfo(asset)">
                        <div class="asset-name">{{ asset.title }}</div>
                        <div class="asset-author">{{ asset.author }}</div>
                        <div class="asset-detail-toggle-icon"><span ng-class="{ true:'icon-circle-down', false:'icon-circle-right'}[asset.showInfo]"></span></div>
                    </div>

                    <div class="asset-info" ng-if="asset.showInfo">
                        <div>{{ asset.description }}</div>
                        <videogular vg-theme="asset.config.theme">
                            <vg-media vg-src="asset.config.sources">
                            </vg-media>

                            <vg-controls>
                                <vg-play-pause-button></vg-play-pause-button>
                                <vg-time-display>{{ currentTime | millSecondsToTimeString }}</vg-time-display>
                                <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                </vg-scrub-bar>
                                <vg-time-display>{{ timeLeft | millSecondsToTimeString }}</vg-time-display>
                                <vg-volume>
                                    <vg-mute-button></vg-mute-button>
                                    <vg-volume-bar></vg-volume-bar>
                                </vg-volume>
                                <vg-fullscreen-button></vg-fullscreen-button>
                            </vg-controls>

                            <vg-overlay-play></vg-overlay-play>
                        </videogular>
                        <div ng-if="!asset.source">Lo sentimos, actualmente no se enucentra disponible este video.</div>
                    </div>


                </div>
            </div>
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>

</div>
