<p><%= @sender_user.first_name %> te ha invitado a ver más información respecto a Iuvare.</p>

<p>Para visualizarla, haz click <a href='<%="http://#{ENV['HOST']}/plan?token=#{@video.token}" %>'>aquí</a>.</p>

<p>Es importante que accedas a la liga lo antes posible ya que tiene una caducidad de 120 minutos.</p>
