<p><%= @test_score.contact.name %> ha finalizado de ver el video.</p>

<p>Sus respuestas:</p>

<p>Nivel de interés (1-10): <%= @test_score.score.to_i%> </p>

<p>¿Cuándo contactarlo?: <%= @test_score.description%></p>
