.office-info
  display: inline-block
  vertical-align: top
  width: 40%

.office-map
  display: inline-block
  +rem(margin-right, 20px)
  max-height: 300px
  max-width: 300px
  overflow: hidden
  vertical-align: top
  width: 40%

.office-name
  +rem(font-size, 1.8rem)
  +rem(margin-bottom, 1rem)

.item-video
  text-align: center

.angular-google-map-container
  height: 400px