.contact-form
  +rem(margin, 0 1rem)

  @media screen and (min-width: $screen-sm-max)
    +rem(margin, 0 10rem)

.contact-list
  +rem(margin-top, 1rem)
  min-height: 400px

  .actions
    text-align: right

  .contact
    background-color: $color_gray_1
    border: 1px solid $color_gray_4
    +border-radius(5px)
    font-size: 0
    +rem(margin, 2rem 0rem)
    padding: 0

    @media screen and (min-width: $screen-sm-max)
      display: inline-block
      min-height: 260px
      margin-right: 0
      vertical-align: top
      width: 49%

      &:nth-child(2n+1)
        margin-right: 2%

    .contact-profile
      +rem(font-size, 0)
      +rem(padding, 3rem)
      position: relative
      text-align: center
      z-index: 0

      @media screen and (min-width: $screen-sm-max)
        display: inline-block
        vertical-align: top
        width: 50%

      .contact-image
        +rem(margin-bottom, 1.2rem)
        text-align: left

        .contact-name
          display: inline-block
          +rem(font-size, 2rem)
          +rem(margin, 0 0 0 1rem)
          vertical-align: middle

        .user-image
          text-align: center
          vertical-align: middle

      .contact-info
        text-align: left

        .contact-email, .contact-phone
          +rem(font-size, 1.3rem)
          line-height: 20px
          margin: 0
          padding: 0

      .actions
        +rem(margin-top, 1rem)
        text-align: right

        span
          +rem(font-size, 3rem)


    .contact-progress
      +rem(font-size, 0)
      min-height: 200px
      position: relative
      +rem(padding, 3rem 2rem)
      text-align: center
      z-index: 0

      @media screen and (min-width: $screen-sm-max)
        display: inline-block
        min-height: 260px
        vertical-align: top
        width: 50%

        &:after
          background-color: red
          bottom: 10%
          content: ''
          height: 80%
          left: -2px
          position: absolute
          width: 2px
          z-index: 2

      .contact-status
        +rem(font-size, 1.5rem)
        +rem(margin, 1rem 0)
        text-align: center

      .progress-wrapper
        position: relative

        .progress
          background-color: transparent
          border: none
          box-shadow: none
          +rem(font-size, 2rem)
          font-weight: 300
          display: inline-block
          height: 40px
          left: 0
          margin: 0
          position: absolute
          text-align: center
          top: 50%
          width: 100%
          transform: translate(0%, -50%)

      &:after
        background-color: $color-gray_3
        top: -2px
        content: ''
        height: 2px
        left: 10%
        position: absolute
        width: 80%
        z-index: 2

        @media screen and (min-width: $screen-sm-max)
          background-color: $color-gray_3
          top: 10%
          content: ''
          height: 80%
          left: -2px
          position: absolute
          width: 2px
          z-index: 2



.contact-detail
  font-size: 0
  +rem(margin, 2rem 0rem)
  padding: 0

  @media screen and (min-width: $screen-sm-max)
    min-height: 390px

  audio
    display: block
    margin: 0 auto
    width: 100%

  .contact-profile
    +rem(font-size, 0)
    +rem(padding, 3rem)
    position: relative
    text-align: center
    z-index: 0

    @media screen and (min-width: $screen-sm-max)
      display: inline-block
      vertical-align: top
      width: 30%

    .contact-image
      +rem(margin-bottom, 1.2rem)
      text-align: left

      .contact-name
        display: inline-block
        +rem(font-size, 2rem)
        +rem(margin, 0 0 0 1rem)
        vertical-align: middle

      .user-image
        text-align: center
        vertical-align: middle

    .contact-info
      text-align: left

      .contact-email, .contact-phone
        +rem(font-size, 1.3rem)
        line-height: 20px
        margin: 0
        padding: 0

    .actions
      +rem(margin-top, 1rem)
      text-align: right

      span
        +rem(font-size, 3rem)


  .contact-progress
    +rem(font-size, 0)
    position: relative
    +rem(padding, 3rem 2rem)
    text-align: center
    z-index: 0

    @media screen and (min-width: $screen-sm-max)
      display: inline-block
      vertical-align: top
      width: 30%

    .contact-status
      +rem(font-size, 1.5rem)
      +rem(margin, 1rem 0)
      text-align: center

    .progress-wrapper
      position: relative

      .progress
        background-color: transparent
        border: none
        box-shadow: none
        +rem(font-size, 2rem)
        font-weight: 300
        display: inline-block
        height: 40px
        left: 50%
        margin: 0
        position: absolute
        text-align: center
        top: 50%
        width: 55px
        transform: translate(-50%, -50%)

    &:after
      background-color: $color-gray_3
      bottom: 10%
      content: ''
      height: 80%
      left: -2px
      position: absolute
      width: 2px
      z-index: 2

  .contact-actions
    +rem(font-size, 0)
    position: relative
    min-height: 340px
    +rem(padding, 3rem 2rem)
    text-align: left
    z-index: 0

    p
      +rem(font-size, 1.5rem)

    @media screen and (min-width: $screen-sm-max)
      display: inline-block
      vertical-align: top
      width: 40%

    .action
      +rem(font-size, 1.5rem)
      +rem(margin-top, 2rem)

      .action-button-purple
        +rem(margin, 0 0 1rem)

        &.disabled
          cursor: auto
          opacity: 0.5

      p
        text-align: center

      span.glyphicon-ok
        font-size: 12px !important

    .contact-discard-button
      bottom: 0
      +rem(margin, 2rem 0 0 0)
      position: absolute
      right: 20px

    .dropdown
      +rem(margin-bottom, 1rem)
      white-space: normal
      width: 100%

    .dropdown-menu
      a
        white-space: normal

    button.all-space
      width: 100%

    .help
      +rem(font-size, 1.2rem)
      line-height: 16px
      +rem(margin, 2rem 0rem 1rem)


    .step-question
      +rem(font-size, 1.8rem)
      +rem(margin-top, 0.5rem)


.status
  border: 1px solid
  +border-radius(10px)
  +rem(padding, 0.5rem 1rem)

  &.contacted
    background: $color_gray_4
    border-color: $color_gray_2
    color: white

  &.to-invite
    background: $color_blue_fb
    border-color: $color_blue_3
    color: white

  &.registered
    background: $color_purple_1
    border-color: $color_purple_4
    color: white

  &.ruled-out
    background: $color_red_1
    border-color: $color_red_2
    color: white

  &.to-close
    background: $color_green_1
    border-color: $color_green_2
    color: white