.contact-form
  +rem(margin, 0 10rem)

.contact-list
  +rem(margin-top, 1rem)
  min-height: 400px

  .actions
    text-align: right

  .contact
    background-color: $color_gray_1
    border: 1px solid $color_gray_4
    +border-radius(5px)
    position: relative
    +rem(margin, 1rem 0)
    +rem(padding, 2rem)

    .contact-image
      display: inline-block
      +rem(margin-right, 1rem)
      text-align: center
      vertical-align: top


    .contact-info
      display: inline-block
      vertical-align: top

