.login-container
  background-color: white
  +rem(margin, 10rem auto)
  +rem(padding, 0.1rem 0 0 0)
  text-align: center
  width: 500px

  form
    text-align: center
    fieldset
      input
        display: block      

    fieldset:nth-child(1)
      +rem(padding, 4rem)

      input
        +rem(margin, 1rem)
        width: 100%



  h2.section-title
    color: $color_gray_2
    +rem(margin, 2rem 0)

  hr.separator-gray
    width: 96%
