.profile-container

  .password-form, .profile-form
    +rem(padding, 4rem 16rem)

    font-size: 0
    +rem(padding, 4rem 16rem)

    .actions
      text-align: center
      +rem(margin, 1rem 0 3rem)

    input[type='text'], input[type='password'], input[type='email']
      width: 80% !important

    input:read-only
      background-color: transparent

    label
      width: 20%
      font-size: 14px

    .message
      font-size: 14px
      text-align: center

    .password-link
      font-size: 14px
      text-align: center

  .profile-picture
    line-height: 0
    text-align: center
    width: 100%

    .picture-container
      border-top-left-radius: 10px
      border-top-right-radius: 10px
      display: inline-block
      width: 220px

      .picture
        background: url('/assets/person.png') no-repeat white
        background-size: cover
        +border-radius(50%)
        height: 220px
        overflow: hidden
        position: relative
        width: 220px

        &.no-background
          background: none

        img
          position: absolute
          left: 50%
          top: 50%
          transform: translateY(-50%) translateX(-50%)