@font-face {
	font-family: 'icomoon';
	src:url('/assets/icomoon.eot?-ec7m0q');
	src:url('/assets/icomoon.eot?#iefix-ec7m0q') format('embedded-opentype'),
		url('/assets/icomoon.woff?-ec7m0q') format('woff'),
		url('/assets/icomoon.ttf?-ec7m0q') format('truetype'),
		url('/assets/icomoon.svg?-ec7m0q#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-circle-down:before {
	content: "\e605";
}

.icon-circle-right:before {
	content: "\e606";
}

.icon-image:before {
	content: "\e90d";
}

.icon-cart:before {
	content: "\e93a";
}

.icon-user:before {
	content: "\e971";
}

.icon-search:before {
	content: "\e986";
}

.icon-info:before {
	content: "\ea0c";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-swap-vert-circle:before {
	content: "\e602";
}

.icon-locked:before {
	content: "\e601";
}

.icon-circle-with-plus:before {
	content: "\e604";
}

.icon-circle-with-cross:before {
	content: "\e603";
}

.icon-help:before {
	content: "\e600";
}

