@font-face {
    font-family: 'icomoon';
    src:url('/assets/icomoon.eot?-lanh48');
    src:url('/assets/icomoon.eot?#iefix-lanh48') format('embedded-opentype'),
    url('/assets/icomoon.woff?-lanh48') format('woff'),
    url('/assets/icomoon.ttf?-lanh48') format('truetype'),
    url('/assets/icomoon.svg?-lanh48#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
    content: "\e60c";
}

.icon-arrow-circle-right:before {
    content: "\e60b";
}

.icon-repeat:before {
    content: "\e60a";
}

.icon-locked:before {
    content: "\e601";
}

.icon-swap-vert-circle:before {
    content: "\e602";
}

.icon-circle-with-plus:before {
    content: "\e604";
}

.icon-circle-with-cross:before {
    content: "\e603";
}

.icon-help:before {
    content: "\e600";
}

.icon-envelope:before {
    content: "\e609";
}

.icon-phone:before {
    content: "\e608";
}

.icon-spinner:before {
    content: "\e607";
}

.icon-circle-down:before {
    content: "\e605";
}

.icon-circle-right:before {
    content: "\e606";
}

.icon-image:before {
    content: "\e90d";
}

.icon-cart:before {
    content: "\e93a";
}

.icon-user:before {
    content: "\e971";
}

.icon-search:before {
    content: "\e986";
}

.icon-info:before {
    content: "\ea0c";
}

.icon-facebook:before {
    content: "\ea8c";
}

