// Import styles
@import "common/variables"
@import "common/mixins"

//Import typography
@import "common/icomoon.css"
@import "common/typography"

//Import libraries styles
@import "common/angular-motion.css"
@import "common/ng-quick-date.css"
@import "common/ng-quick-date-default-theme.css"
@import "fancybox/jquery.fancybox.css"

// Import layout styles
@import "layout/footer"
@import "layout/top_nav"
@import "layout/inner_aside_nav"

// Import modules styles
@import "modules/login"
@import "modules/cycle"
@import "modules/network"
@import "modules/plan"
@import "modules/why"
@import "modules/assets"
@import "modules/collage"
@import "modules/list"
@import "modules/profile"
@import "modules/progress"
@import "modules/headquarters"

// Common styles
@import "common/isotope.css"
@import "common/angular-chart"

a
  cursor: pointer

a.disabled
  cursor: default

body
  background-color: $bg_color
  font-family: "CircularStd"
  +font-smoothing
  font-weight: 600
  line-height: 24px
  font-style: normal

h2.section-title
  font-weight: 400
  +rem(font-size, 2.5rem)
  text-transform: uppercase

.action-button-blue
  +action-button($color_blue_1)

.action-button-fb
  +action-button($color_blue_fb)

.action-button-purple
  +action-button($color_purple_1)

.action-button-edit
  color: $color_blue_2
  cursor: pointer

  &:hover
    color: $color_blue_3

.action-button-delete
  color: $color_red_1
  cursor: pointer

  &:hover
    color: $color_red_2

.action-button-send
  color: $color_purple_1
  cursor: pointer

  &:hover
    color: $color_purple_2

.action-button-add
  color: $color_green_1
  cursor: pointer

  &:hover
    color: $color_green_2

.action-button-login, .action-button-forgot
  background-color: $color-blue_3
  border: none
  color: white
  +rem(font-size, $large-font)
  font-weight: 400
  +rem(padding, 1.5rem)
  text-transform: uppercase
  width: 100%

.action-button-cancel
  background-color: $color_blue_fb
  border: none
  color: white
  +rem(font-size, $large-font)
  font-weight: 400
  +rem(padding, 1.5rem)
  text-transform: uppercase
  width: 100%

.alert

  outline: none

  &.top, &.top-left, &.top-right, &.bottom, &.bottom-left, &.bottom-right
    position: fixed
    margin: 20px

  &.top, &.top-left, &.top-right
    top: 0px

  &.top
    right: 0px
    left: 0px

  &.top-right
    right: 0px
    .close
      padding-left: 10px

  &.top-left
    left: 0px

    .close
      padding-right: 10px

  &.bottom, &.bottom-right, &.bottom-left
    bottom: 0px

  &.bottom
    right: 0px
    left: 0px

  &.bottom-right
    right: 0px

    .close
      padding-left: 10px

  &.bottom-left
    left: 0px
    .close
      padding-right: 10px

.form

  input, button
    +rem(margin, 0.5rem 0)

  input[type='text'], input[type='email'], input[type='password']
    background-color: $color_gray_3
    border: none
    color: $color_gray_2
    +rem(font-size, $medium-font)
    font-weight: 600
    height: 50px
    +rem(padding, 0 2rem)
    width: 100%

  .dropdown
    height: 50px
    width: 100%

  .login-switch
    +action-button($color_purple_1)

    input[type="radio"]
      display: none

    &.checked
      +action-button($color_purple_5)

  textarea
    background-color: $color_gray_3
    border: none
    color: $color_gray_2
    +rem(font-size, $medium-font)
    font-weight: 600
    height: 100px
    +rem(padding, 1rem 2rem)
    resize: none
    width: 100%

.form-container
  +rem(padding, 1rem 2rem)

  @media screen and (min-width: $screen-sm-max)
    +rem(padding, 4rem 16rem)

.list-item-container
  background-color: $color_gray_1
  border: 1px solid $color_gray_4
  +border-radius(5px)
  position: relative
  +rem(margin, 1rem 0)
  +rem(padding, 2rem)

  .item-info
    +rem(margin, 1rem 0)

  .item-name
    +rem(font-size, 1.8rem)
    +rem(margin-bottom, 1rem)

  .item-detail-toggle-icon
    cursor: pointer
    +rem(font-size, 2rem)
    position: absolute
    +rem(right, 2rem)
    top: 25px

  &:hover
    background-color: $color_gray_3

.message-container
  display: block
  +rem(margin, 5rem 0)
  +rem(padding, 2rem)
  width: 100%

  .message
    display: block
    +rem(font-size, 1.8rem)
    text-align: center
    vertical-align: middle
    width: 100%

    .message-icon
      +rem(font-size, 6rem)

  .actions
    display: block
    +rem(margin, 2rem 0)
    text-align: center

.quickdate
  width: 100%

  .quickdate-button
    font-family: "CircularStd"
    font-size: 16px
    font-weight: 600
    height: 50px
    line-height: 1
    +rem(padding-top, 1.5rem)
    text-align: center
    vertical-align: middle
    width: 100%

  .quickdate-button:hover
    border: 1px solid $color_gray_4
    background-color: $color-gray_5
    color: $color-gray_6
    text-decoration: none


.score

  .actions
    +rem(margin, 6rem 0)
    text-align: center

  .title
    +rem(font-size, 2rem)
    +rem(margin-bottom, 3rem)
    text-align: center

  .legend
    +rem(margin, 0 auto 1.2rem)
    max-width: 300px

    table
      background-color: $color-gray_1
      +border-radius(10px)
      border: 1px solid $color-gray_5
      +rem(font-size, 1.4rem)
      margin: 0
      padding: 0
      overflow: hidden
      text-align: center
      width: 100%

    td
      +rem(font-size, 1.6rem)
      +rem(padding, 0.5rem 0)

      strong
        font-weight: bolder

  .chart
    margin: 0px auto
    max-width: 300px
    +rem(margin-bottom, 1.5rem)


.score-explanation
  +rem(margin-top, 2rem)

  table
    margin: 0 auto
    max-width: 800px
    width: 100%

    caption
      +rem(padding, 0.6rem 1rem)

      &.blue
        color: white
        background: $color_blue_2

      &.green
        color: white
        background: $color_green_2

      &.red
        color: white
        background: $color_red_2

      &.yellow
        color: $color_gray_2
        background: $color_yellow_1

    td
      +rem(padding, 1rem)
      vertical-align: top

    th
      background: $color_gray_1
      +rem(padding, 1rem)
      text-align: center

    .other-traits
      list-style: none
      +rem(margin, 1rem 0)
      padding: 0

.section-container
  background-color: white
  +rem(margin, 0.8rem 0)
  min-height: 500px
  +rem(padding, 1rem 1.5rem)

  @media screen and (min-width: $screen-sm-max)
    +rem(margin, 2rem 0)
    min-height: 400px
    +rem(padding, 3rem 3.5rem)

  h2.section-title
    +rem(margin, 0 0 2rem)

.section-content
  +rem(margin, 2rem 0)

.separator-gray
  background-color: $color_gray_1
  border: 0
  height: 3px

.test-form
  padding: 0

  @media screen and (min-width: $screen-sm-max)
    +rem(padding, 0 3rem)

  fieldset
    border-bottom: 1px solid $color-gray_3
    +rem(margin-bottom, 1rem)
    +rem(padding, 2rem 0)

    label
      text-align: center
      min-width: 150px
      +rem(margin-right, 0.5rem)

      @media screen and (min-width: $screen-sm-max)
        +rem(margin-right, 3rem)


    p
      +rem(margin, 0)


    .question
      display: block
      +rem(margin-bottom, 1rem)
      text-align: left

    &:first-child
      border-top: none
      +rem(margin-top, 2rem)

  .range-answer-options
    +rem(margin, 0 1rem)
    text-align: center
    min-width: 50px

.user-image
  background-color: $color_gray_3
  +border-radius(50%)
  color: $color_gray_2
  +rem(font-size, 2rem)
  display: inline-block
  height: 40px
  overflow: hidden
  width: 40px


  span.icon-user
    display: inline-block
    +rem(margin-top, 0.8rem)
    vertical-align: sub

.wrapper-container
  min-height: 500px

// Animations

@keyframes loadingAnimation
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)