<p><%= @resource.first_name %>,</p>

<p>Hemos recibido tu solicitud para recuperar tu contraseña.</p>

<p>Entra a la siguiente liga para elegir una nueva contraseña: <a href='<%="http://#{ENV['HOST']}/login?reset_password_token=#{@token}" %>'>Recuperar mi contraseña</a>
</p>

<p>Si tienes alguna duda escríbenos a <a href="mailto:info@iuvare.mx">info@geek.education</a></p>
