<!DOCTYPE html>
<html ng-app="iuvare" lang="es">
<head>
  <title>Iuvare</title>
  <meta name="viewport" content="width=device-width">
  <base href="/">
  <script src='https://maps.googleapis.com/maps/api/js?sensor=false'></script>
  <link rel="shortcut icon" href="/assets/favicon.png" type="image/png" />

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="RootController as rootCtrl">

<%= yield %>

</body>
</html>
